aiogram
fpdf2
beautifulsoup4
numpy
outcome
pandas
requests
tqdm
qrcode
aiosqlite
nest-asyncio
openpyxl
arq
pip-tools
aiocache
pytest
pytest-asyncio
lxml
aiohttp-jinja2
aiohttp-devtools
aiohttp-ratelimiter
aiolimiter
python-dotenv
supervisor
django
arq-django-admin
whitenoise
django-extensions
django-browser-reload
django-debug-toolbar
django-ratelimit
jsl_django_sitemap