aiogram
fpdf2
beautifulsoup4
numpy
outcome
pandas
requests
tqdm
qrcode
aiosqlite
nest-asyncio
openpyxl
arq
pip-tools
aiocache
pytest
pytest-asyncio
lxml
aiohttp-jinja2
aiohttp-devtools
aiohttp-ratelimiter
python-dotenv