<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>{{ bot.name }}</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="{{ static('assets/img/favicon.png') }}" rel="icon">
    <link href="{{ static('assets/img/apple-touch-icon.png') }}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{{ static('assets/vendor/aos/aos.css') }}" rel="stylesheet">
    <link href="{{ static('assets/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ static('assets/vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
    <link href="{{ static('assets/vendor/glightbox/css/glightbox.min.css') }}" rel="stylesheet">
    <link href="{{ static('assets/vendor/swiper/swiper-bundle.min.css') }}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="{{ static('assets/css/style.css') }}" rel="stylesheet">

</head>

<body>

<!-- ======= Header ======= -->
<header id="header" class="d-flex align-items-center ">
    <div class="container-fluid container-xxl d-flex align-items-center">

        <div id="logo" class="me-auto">
            <h4 class="pt-3 text-uppercase"><a href="{{ bot.url }}"><b>{{ bot.name }}</b></a></h4>
        </div>

        <nav id="navbar" class="navbar order-last order-lg-0">
            <ul>
                <li><a class="nav-link scrollto active" href="#hero">ОБО МНЕ</a></li>
                <li><a class="nav-link scrollto" href="#about">ВОЗМОЖНОСТИ</a></li>
                <li><a class="nav-link scrollto" href="#faq">ВОПРОСЫ</a></li>
                <li><a class="nav-link scrollto" href="#contact">КОНТАКТЫ</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->
        <a class="buy-tickets scrollto" href="{{ bot.url }}">перейти к боту</a>

    </div>
</header><!-- End Header -->

<!-- ======= Hero Section ======= -->
<section id="hero">
    <div class="hero-container" data-aos="zoom-in" data-aos-delay="100">
        <h1 class="mb-4 pb-0">
            Привет!<br>
            Я телеграм-бот<br>
            Помощник в подборе<br>
            автомобилей
        </h1>
        <p class="mb-4 pb-0">СЛЕЖУ ЗА ОБЪЯВЛЕНИЯМИ НА КРУПНЕЙШИХ ИНТЕРНЕТ-ПЛОЩАДКАХ БЕЛАРУСИ</p>
        <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="glightbox play-btn mb-4"></a>
        <a href="#about" class="about-btn scrollto">ЧТО Я УМЕЮ?</a>
    </div>
</section><!-- End Hero Section -->

<main id="main">

    <!-- ======= About Section ======= -->
    <section id="about">
        <div class="container position-relative" data-aos="fade-up">
            <div class="row">
                <div class="col-lg-6">
                    <h2>
                        ЧТО Я УМЕЮ?
                    </h2>
                    <ul>
                        <li><p>Расскажи мне параметры авто, и я начну присылать тебе свежие объявления с крупнейших
                            сайтов Беларуси</p></li>
                        <li><p>Прослежу за изменением цены и незамедлительно уведомлю</p></li>
                        <li><p>Сформирую удобный отчет с текущими объявлениями</p></li>
                    </ul>

                </div>
                <div class="col-lg-3">
                    <h3>
                        ПОЧЕМУ Я?
                    </h3>

                    <ul>
                        <li><p>У меня нет выходных</p></li>
                        <li><p>Меня не надо устанавливать</p></li>
                        <li><p>Я не требую оплаты</p></li>
                        <li><p>Никаких регистраций</p></li>
                        <li><p>Поиск по всем сайтам</p></li>
                    </ul>

                </div>
                <div class="col-lg-3">
                    <h3>ГДЕ Я?</h3>
                    <p><a href="{{ bot.url }}">{{ bot.url }}</a></p>
                </div>
            </div>
        </div>
    </section><!-- End About Section -->


    <!-- =======  F.A.Q Section ======= -->
    <section id="faq">
        <div class="container" data-aos="fade-up">
            <div class="section-header">
                <h2>ОСТАЛИСЬ ВОПРОСЫ?</h2>
            </div>
            <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="100">
                <div class="col-lg-9">

                    <ul class="faq-list">

                        {% for faq in faqs %}
                        <li>
                            <div data-bs-toggle="collapse" class="collapsed question" href="#faq{{ loop.index }}">
                                {{ faq.0 }}
                                <i class="bi bi-chevron-down icon-show"></i>
                                <i class="bi bi-chevron-up icon-close"></i>
                            </div>
                            <div id="faq{{ loop.index }}" class="collapse" data-bs-parent=".faq-list">
                                <p>
                                    {{ faq.1 }}
                                </p>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </section><!-- End  F.A.Q Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="section-bg">
        <div class="container" data-aos="fade-up">
            <div class="section-header">
                <h2>
                    СВЯЗАТЬСЯ С СОЗДАТЕЛЕМ
                </h2>
                <p>ОТВЕЧУ НА ЛЮБЫЕ ВОПРОСЫ.</p>
            </div>

            <div class="row contact-info">

                <div class="col-md-6">
                    <div class="contact-address">
                        <p><a href="{{ bot.telegram }}"><i class="bi bi-telegram"></i></a></p>
                        <h3>Telegram</h3>
                    </div>
                </div>


                <div class="col-md-6">
                    <div class="contact-email">
                        <p><a href="mailto:{{ bot.email }}"><i class="bi bi-envelope-fill"></i></a></p>
                        <h3>Email</h3>
                    </div>
                </div>

            </div>

            <div class="form">

                <form action="/submit_message" id="post-form" method="post" class="php-email-form" accept-charset="utf-8"
                      enctype="application/x-www-form-urlencoded">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <input type="text" name="name" class="form-control" id="name" placeholder="Имя"
                                   required>
                        </div>
                        <div class="form-group col-md-6 mt-3 mt-md-0">
                            <input type="email" class="form-control" name="email" id="email" placeholder="Email"
                                   required>
                        </div>
                    </div>
                    <div class="form-group mt-3">
                        <input type="text" class="form-control" name="subject" id="subject" placeholder="Заголовок"
                               required>
                    </div>
                    <div class="form-group mt-3">
                        <textarea class="form-control" name="message" rows="5" placeholder="Собщение"
                                  required></textarea>
                    </div>
                    <div class="my-3">
                        <div class="loading">Loading</div>
                        <div class="error-message">Ошибка. Повторите попытку</div>
                        <div id="result" class="sent-message">Сообщение отправлено. Спасибо!</div>
                    </div>
                    <div class="text-center">
                        <button id="button" type="submit" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Отправка">Отправить</button>
                    </div>
                </form>
            </div>

        </div>


    </section><!-- End Contact Section -->

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-4 col-md-6 footer-info">
                    <h4>{{ bot.name }}</h4>
                    <ul>
                        <li><p>Телеграм-бот для поиска обяъвлений автомобилей</p></li>
                        <li><p>Использование сервиса означает согласие с Пользовательским соглашением и Политикой
                            конфиденциальности</p></li>
                    </ul>
                </div>

                <div class="col-lg-4 col-md-6 footer-links">
                    <h4>НАВИГАЦИЯ</h4>
                    <ul>
                        <li><i class="bi bi-chevron-right"></i> <a href="#hero">Обо мне</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="#about">Мои возможности</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="#faq">Частые вопросы</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="#">Пользовательское соглашение</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="#">Политика конфиденциальности</a></li>
                    </ul>
                </div>

                <div class="col-lg-4 col-md-6 footer-contact">
                    <h4>КОНТАКТЫ</h4>
                    <p>
                        <strong>Telegram:</strong> <a href="{{ bot.telegram }}">{{ bot.telegram }}</a><br>
                        <strong>Email:</strong> <a href="mailto:{{ bot.email }}">{{ bot.email }}</a><br>
                        <strong>Bot:</strong> <a href="{{ bot.url }}">{{ bot.name }}</a><br>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="pt-4 credits">
            © {{ bot.name }} {{ bot.year }} <br>
        </div>
    </div>
</footer><!-- End  Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="{{ static('assets/vendor/aos/aos.js') }}"></script>

<script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/glightbox/3.2.0/js/glightbox.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/11.0.4/swiper-bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="{{ static('assets/js/post_message_form.js') }}"></script>
<script src="{{ static('assets/js/main.js') }}"></script>

</body>

</html>