{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>{{ bot.name }}</title>

    <!-- Meta -->
    <meta content="Автоматический поиск автомобилей по Беларуси. Телеграм-бот. Автоподбор." name="description">
    <meta content="" name="keywords">
    <meta name="robots" content="index, nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/fav/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/fav/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/fav/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'assets/fav/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'assets/fav/safari-pinned-tab.svg' %}" color="#b593a9">
    <link rel="shortcut icon" href="{% static 'assets/fav/favicon.ico' %}">
    <meta name="msapplication-TileColor" content="#ffc40d">
    <meta name="msapplication-config" content="{% static 'assets/fav/browserconfig.xml' %}">
    <meta name="theme-color" content="#ffffff">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css"
          integrity="sha512-b2QcS5SsA8tZodcDtGRELiGv5SaKSk1vDHDaQRda0htPYWZ6046lr3kJ5bAAQdpV2mmA/4v0wQF9MyU6/pDIAg=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/glightbox/3.2.0/css/glightbox.min.css"
          integrity="sha512-T+KoG3fbDoSnlgEXFQqwcTC9AdkFIxhBlmoaFqYaIjq2ShhNwNao9AKaLUPMfwiBPL0ScxAtc+UYbHAgvd+sjQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>

    <!-- Template Main CSS File -->
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

</head>


<body>

{% csrf_token %}

<!-- ======= Header ======= -->
<header id="header" class="d-flex align-items-center ">
    <div class="container-fluid container-xxl d-flex align-items-center">

        <div id="logo" class="me-auto">

            <h4 class="pt-3 text-uppercase">

                <a href="{{ bot.url }}">
                    <img width="35" src="{% static 'assets/fav/giromitra.svg' %}">
                    <b>{{ bot.name }}</b>
                </a>
            </h4>
        </div>

        <nav id="navbar" class="navbar order-last order-lg-0">
            <ul>
                <li><a class="nav-link scrollto active" href="#hero">ОБО МНЕ</a></li>
                <li><a class="nav-link scrollto" href="#about">ВОЗМОЖНОСТИ</a></li>
                <li><a class="nav-link scrollto" href="#faq">ВОПРОСЫ</a></li>
                <li><a class="nav-link scrollto" href="#contact">КОНТАКТЫ</a></li>
            </ul>

            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                 class="bi bi-list mobile-nav-toggle"
                 viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                      d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"></path>
            </svg>
        </nav><!-- .navbar -->
        <a class="buy-tickets scrollto" href="{{ bot.url }}">перейти к боту</a>

    </div>
</header><!-- End Header -->

<!-- ======= Hero Section ======= -->
<section id="hero">
    <div class="hero-container">
        <h1 class="mb-4 pb-0">
            Привет!<br>
            Я телеграм-бот<br>
            Помощник в подборе<br>
            автомобилей
        </h1>
        <p class="mb-4 pb-0">СЛЕЖУ ЗА ОБЪЯВЛЕНИЯМИ НА КРУПНЕЙШИХ ИНТЕРНЕТ-ПЛОЩАДКАХ БЕЛАРУСИ</p>
        <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="glightbox play-btn mb-4"></a>
        <a href="#about" class="about-btn scrollto">ЧТО Я УМЕЮ?</a>
    </div>
</section><!-- End Hero Section -->

<main id="main">

    <!-- ======= About Section ======= -->
    <section id="about">
        <div class="container position-relative">
            <div class="row">
                <div class="col-lg-6">
                    <h2>
                        ЧТО Я УМЕЮ?
                    </h2>
                    <ul>
                        <li><p>Расскажи мне параметры авто, и я начну присылать тебе свежие объявления с крупнейших
                            сайтов Беларуси</p></li>
                        <li><p>Прослежу за изменением цены и незамедлительно уведомлю</p></li>
                        <li><p>Сформирую удобный отчет с текущими объявлениями</p></li>
                    </ul>

                </div>
                <div class="col-lg-3">
                    <h3>
                        ПОЧЕМУ Я?
                    </h3>

                    <ul>
                        <li><p>У меня нет выходных</p></li>
                        <li><p>Меня не надо устанавливать</p></li>
                        <li><p>Я не требую оплаты</p></li>
                        <li><p>Никаких регистраций</p></li>
                        <li><p>Поиск по всем сайтам</p></li>
                    </ul>

                </div>
                <div class="col-lg-3">
                    <h3>ГДЕЯ Я НАХОЖУСЬ?</h3>
                    <p><a href="{{ bot.url }}">{{ bot.url }}</a></p>
                </div>
            </div>
        </div>
    </section><!-- End About Section -->


    <!-- =======  F.A.Q Section ======= -->
    <section id="faq">
        <div class="container">
            <div class="section-header">
                <h2>ОСТАЛИСЬ ВОПРОСЫ?</h2>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-9">

                    <ul class="faq-list">

                        {% for faq in faqs %}
                            <li>
                                <div data-bs-toggle="collapse" class="collapsed question"
                                     href="#faq{{ forloop.counter }}">
                                    {{ faq.0 }}
                                    <i class="bi bi-chevron-down icon-show"></i>
                                    <i class="bi bi-chevron-up icon-close"></i>
                                </div>
                                <div id="faq{{ forloop.counter }}" class="collapse" data-bs-parent=".faq-list">
                                    <p>
                                        {{ faq.1 }}
                                    </p>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </section><!-- End  F.A.Q Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="section-bg">
        <div class="container">
            <div class="section-header align-items-center">
                <h2>
                    СВЯЗАТЬСЯ С СОЗДАТЕЛЕМ
                </h2>
                <p>ОТВЕЧУ НА ЛЮБЫЕ ВОПРОСЫ.</p>
            </div>

            <div class="row contact-info">

                <div class="col-md-6">
                    <div class="contact-address">
                        <p><a href="{{ bot.telegram }}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-telegram" viewBox="0 0 16 16">
                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.287 5.906c-.778.324-2.334.994-4.666 2.01-.378.15-.577.298-.595.442-.03.243.275.339.69.47l.175.055c.408.133.958.288 1.243.294.26.006.549-.1.868-.32 2.179-1.471 3.304-2.214 3.374-2.23.05-.012.12-.026.166.016.047.041.042.12.037.141-.03.129-1.227 1.241-1.846 1.817-.193.18-.33.307-.358.336a8.154 8.154 0 0 1-.188.186c-.38.366-.664.64.015 1.088.327.216.589.393.85.571.284.194.568.387.936.629.093.06.183.125.27.187.331.236.63.448.997.414.214-.02.435-.22.547-.82.265-1.417.786-4.486.906-5.751a1.426 1.426 0 0 0-.013-.315.337.337 0 0 0-.114-.217.526.526 0 0 0-.31-.093c-.3.005-.763.166-2.984 1.09z"></path>
                            </svg>
                        </a></p>
                        <h3>Telegram</h3>
                    </div>
                </div>


                <div class="col-md-6">
                    <div class="contact-email">
                        <p><a href="mailto:{{ bot.email }}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-envelope-fill" viewBox="0 0 16 16">
                                <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z"></path>
                            </svg>
                        </a></p>
                        <h3>Email</h3>
                    </div>
                </div>
            </div>


            <div id="result" class="sent-message alert"></div>

            <div class="text-center">
                <form action="/submit_message" id="post-form" method="post"
                      class="email-form"
                      accept-charset="utf-8"
                      enctype="application/x-www-form-urlencoded">

                    <div class="form-group mt-2 mt-md-0">
                        <label for="email"></label><input type="email" class="form-control" name="email" id="email"
                                                          placeholder="Email"
                                                          required autocomplete="email">
                    </div>

                    <div class="form-group mt-2 mt-md-0">
                        <label for="message"></label>
                        <textarea class="form-control" name="message" rows="5" id="message" placeholder="Собщение"
                                  required autocomplete="off"></textarea>

                    </div>
                    <div class="my-3">
                        <div class="error-message">Ошибка. Повторите попытку</div>
                        <button id="button" type="submit"
                                data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Отправка">Отправить
                        </button>
                    </div>
                </form>
            </div>
        </div>


    </section><!-- End Contact Section -->

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer">

    <div class="container">
        <div class="pt-4 credits">
            © {{ bot.name | upper }} {{ bot.year }} <br>
        </div>
    </div>
</footer><!-- End  Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-short"
         viewBox="0 0 16 16">
        <path fill-rule="evenodd"
              d="M8 12a.5.5 0 0 0 .5-.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 .5.5z"></path>
    </svg>
</a>


<!-- Vendor JS Files -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/glightbox/3.2.0/js/glightbox.min.js"
        integrity="sha512-S/H9RQ6govCzeA7F9D0m8NGfsGf0/HjJEiLEfWGaMCjFzavo+DkRbYtZLSO+X6cZsIKQ6JvV/7Y9YMaYnSGnAA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>


<!-- Template Main JS File -->
<script src="{% static 'assets/js/post_message_form.js' %}"></script>
<script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>