{% extends "main/base.html" %}
{% load static %}


<body>
{% block content %}
    <div class="container-fluid container-xxl d-flex align-items-center">

        <div class="card" style="width: 18rem;">
            <img src="{% static "main/images/404_background.png" %}" class="rounded float-start" alt="error 404">
            <div class="card-body">
                <h5 class="card-title"><span id="timer"></span></h5>
                <p>Упс, вы не должы были это увидеть!</p>
                <a href="#">Вернуться на главную</a>
            </div>
        </div>
    </div>

    {% block extra_css %}
        <link href='//fonts.googleapis.com/css?family=Capriola' rel='stylesheet' type='text/css'>
    {% endblock %}
    {% block extra_js %}
        <script type="text/javascript">
            let i = 8;

            function time() {
                document.getElementById("timer").innerHTML = i;
                i--;
                if (i < 1) location.href = "/";
            }

            time();
            setInterval(time, 1000);
        </script>
    {% endblock %}
{% endblock %}
</body>
