{% extends "main/base.html" %}
{% load static %}


<body>
{% block content %}
    <div class="container-fluid container-xxl d-flex align-items-center">
        <div class="wrap">
            <div class="logo">
                <p>Упс, вы не должы были это увидеть!</p>
                <div class="sub">
                    <span id="timer"></span>
                    <p><a href="#">Вернуться на главную</a></p>
                </div>
            </div>
        </div>
        <img src="{% static "main/images/404_background.png" %}" class="rounded float-start">
    </div>
    {% block extra_css %}
        <link href='//fonts.googleapis.com/css?family=Capriola' rel='stylesheet' type='text/css'>
    {% endblock %}
    {% block extra_js %}
        <script type="text/javascript">
            let i = 8;

            function time() {
                document.getElementById("timer").innerHTML = i;
                i--;
                if (i === 2) location.href = "/";
            }

            time();
            setInterval(time, 1000);
        </script>
    {% endblock %}
{% endblock %}
</body>
